<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FunctionalSuite">
	
	<!-- latest code -->


  <test name="Test">
    <classes>   
	  <class name="com.TestCasesLeavePortal.EmployeeFunctions"/>  
   	  <class name="com.TestCasesLeavePortal.ManagerFunctions"/> 
      <class name="com.TestCasesLeavePortal.RejectLeave2"/>
      <class name="com.TestCasesLeavePortal.LeaveSummaryExcel"/>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
